#root {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.App {
    width: 80%;
}

.hidden {
  color: #0000;
}

.inputHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.addressField {
  width: 400px;
}

.addressButton {
  margin: 10px;
}

.App .MuiToolbar-regular {
  min-height: 0px;
}

.App .MuiPaper-root {
  padding-left: 10%;
  padding-right: 10%;
}

.MuiTable-root .MuiTableCell-root {
  padding: 8px;
}

.error {
  color: red;
}
